// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$medium-gray: #CDDAE8;

$light-purple: #C2B4E1;
$purple: #7B3587;
$dark-purple: #2F196B;
$fuschia: #833587;

$gold: #E2BD64;
$gold-shadow: #997C36;
