<h1>Here are our costumes</h1>

<div class="container">
  <div class="row">
    <% @costumes.each do |costume| %>
      <div class="col-4">
        <div class="card-trip">
          <div class="card-trip-infos">
            <div class="card-head">
              <h2><%= costume.name %></h2>
              <img src="https://res.cloudinary.com/dhf72r9rc/image/upload/v1574774151/josephine-menge-h7VBJRBcieM-unsplash_yyhyul.jpg" class="card-trip-user avatar-bordered" />
            </div>
            <p>Address :<%= costume.address %></p>
            <p>Description : <%= costume.description %></p>
            <%= cl_image_tag("joey-nicotra-aQSPWSxCweY-unsplash_wziuyz.jpg",width: 200, height: 300, crop: :fill, class: "img-card-bottom") %>
            <h2 class="card-trip-pricing"><% costume.price_per_day %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
