<h1>Here are our costumes</h1>

<div >
  <ul>
    <% @costumes.each do |costume| %>
    <li>
      <div class="card-trip">
        <div class="card-trip-infos">
          <div>
            <div class="card-head">
              <h2><%= costume.name %></h2>
              <img src="https://res.cloudinary.com/dhf72r9rc/image/upload/v1574774151/josephine-menge-h7VBJRBcieM-unsplash_yyhyul.jpg" class="card-trip-user avatar-bordered" />
            </div>
            <p><%= costume.address %></p>
            <p><%= costume.description %></p>
            <%= cl_image_tag("joey-nicotra-aQSPWSxCweY-unsplash_wziuyz.jpg",width: 200, height: 300, crop: :fill) %>
          </div>
          <h2 class="card-trip-pricing"><% costume.price_per_day %></h2>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
