<div class="banner background-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "https://res.cloudinary.com/dtvuo1oxg/image/upload/v1574767405/ayo-ogunseinde-Erstoy-MuVA-unsplash_jtxxmb.jpg", height: 300, width: 400, crop: :fill %>')">
  <div class="container">
    <h1><strong>Cosplayo</strong></h1>
    <p>Have fun with our extraordinary costumes.</p>
    <a class="btn btn-flat" href="#">Discover our collection!</a>
  </div>
</div>
