<div class="home-background-image">
  <div class="title-and-baseline">
    <h1><strong>Cosplayo</strong></h1>
    <p>Have fun with our extraordinary costumes.</p>
    <%= link_to "Find your cosplay !", costumes_path, class: "btn btn-flat-gold", method: :get %>
  </div>
</div>
