<div class="home-background-image">
  <div class="title-and-baseline">
    <h1><strong>Cosplayo</strong></h1>
    <p>Have fun with our extraordinary costumes.</p>
    <a class="btn btn-flat-gold" href="#">Find your cosplay !</a>
  </div>
</div>
