.btn-flat-accept {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $gold;
  transition: background 0.3s ease;
  margin: 5px;
}

.btn-flat-accept:hover {
  background: $gold-shadow;
  color: white;
}

.btn-flat-decline {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $dark-purple;
  transition: background 0.3s ease;
  margin: 5px;
}

.btn-flat-decline:hover {
  background: $light-purple;
  color: white;
}

.btn-flat-gold {
  background-color: $gold;
  font-family: righteous;
  color: $dark-purple;
}


.btn-flat-gold:hover {
  background-color: $white;
}

.btn-flat-gold-show {
  background-color: $gold;
  font-family: righteous;
  color: $dark-purple;
  margin-left: 5px;
  width: 100%;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 70px;
}

.btn-flat-gold-submit {
  background-color: $gold;
  font-family: righteous;
  color: $dark-purple;
  margin-left: 5px;
  margin-bottom: 10px;
}
