.btn-flat-accept {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $purple;
  transition: background 0.3s ease;
  margin: 5px;
}

.btn-flat-accept:hover {
  background: $light-purple;
  color: white;
}

.btn-flat-decline {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $dark-purple;
  transition: background 0.3s ease;
  margin: 5px;
}

.btn-flat-decline:hover {
  background: $light-purple;
  color: white;
}
