h1 {
  text-align: center;
  margin: 10px;
  margin-top: 100px;
  font-family: 'Righteous', cursive;
  color: $gold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.card-container a {
  text-decoration: none;
  color: #ec008e;
  font-weight: bold;
}

.card-costume {
  margin : 20px;
  display: flex;
  justify-content: space-evenly;
  height: 580px;
  position: relative;
  .img-card-bottom {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  position: relative;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos {
  padding: 10px;
  text-align: justify;
}

.card-trip-infos h2 {
  font-size: 24px;
}

.card-trip-infos p {
  color: #262f37;
  font-size: 12px;
}

.card-trip-infos-color p {
  color: white;
  padding: 10px;
  text-align: justify;
}

.card-trip-infos-color h2 {
  color: white;
  font-weight: bold;
}

.card-trip-pricing {
  border-radius: 50%;
  border: 0.5px solid lightgrey;
  padding: 5px;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-trip-pricing p {
  font-weight: bold;
  font-size: 16px;
  background-color: lightgrey;
}

.card-margin {
  margin-top: 50px;
  margin-bottom: 100px;
}

// .card-title-price {
//   position: relative;
//   display: flex;
//   justify-content: space-between;
//   padding: 10px;
// }

.card-head {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.avatar {
  border-radius: 50%;
}

.card-head p {
  margin: 5px;
}

.fake-map {
  position: absolute;
  background-color : pink;
  height: 100%;
  width: 100%;
}

// card-product

.cards-product-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.card-product {
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
  display: flex;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

  .card-product-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    align-items: center;

  }

  .card-product-infos {
    padding: 10px;
    display: block;
    margin: 0px 2px;

    h2 {
      font-family: righteous;
      color: $gold;
      font-size: 25px;
      letter-spacing: 1px;
    }

    h3 {
      font-weight: bold;
      color: $medium-gray;
      font-size: 15px;
      margin: 10px 0;
      letter-spacing: 1px;
    }

    p {

    }
  }

  .card-product-reservation-buttons {
    padding-right: 10px;
    margin: 10px;
  }

  .approved-color {
    color: $purple;
    font-size: 50px;
  }
