.navbar-lewagon {
  justify-content: space-between;
  text-align: center;
  color: white;
  position: fixed;
  height: 100px;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  flex-direction: reverse;
  background-color: $dark-purple;
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-height {
  height: 80px;
}

.nav-link {
  color: white !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: $gold;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
